@using Microsoft.AspNetCore.Identity
@model IEnumerable<FlightEase.ViewModels.FlightVM>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="~/css/flight.css" />
    <!--<link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />-->
}

@if (User.Identity.IsAuthenticated)
{
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FlightId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GateName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromAirportName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToAirportName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstTransferName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecondTransferName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableSeats)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlightId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GateName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromAirportName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToAirportName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstTransferName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondTransferName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailableSeats)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.FlightId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.FlightId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.FlightId }) |
                        <a href="@Url.Action("Select", "Flight", new { flightId = item.FlightId })">
                            <img src="~/images/shoppingCart.png" alt="Add to Cart" />
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    @await Html.PartialAsync("DisplayTemplates/_TileView")
}

@* @section Scripts
       {

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script>
        //Shorthand for $( document ).ready() --> $( function )
        $(() => {
            $('#myTable').DataTable();
        });
    </script>
} *@