@model FlightEase.ViewModels.ShoppingCartVM

<h1>Shopping Cart</h1>


@if (Model != null)
{
    @if (Model?.Tickets?.Count() > 0)
    {
        <div class="row">
            <div class="col navbar-brand"></div>
            <div class="col-6 navbar-text text-end">
                <small class="navbar-text">
                    <b>Your cart:</b>
                    @Model?.Tickets.Sum(x => x.Count) item(s)
                </small>
            </div>
        </div>

    }
    <form asp-action="Payment">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets[0].FlightId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets[0].Count)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets[0].Price)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets[0].ClassTypes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets[0].Meals)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets[0].Seats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets[0].Seasons)
                </th>
            </tr>
            @for (var i = 0; i < Model.Tickets.Count; i++)
            {
                <td>
                        @Html.DisplayFor(m => Model.Tickets[i].FlightId)
                </td>
                <td>
                    <input asp-for="@Model.Tickets[i].Count" type="number" min="1" max="5" data-aantal=@i />
                </td>
                <td>
                    @Html.DisplayFor(m => Model.Tickets[i].Price)
                </td>
                <td>
                    <select asp-for="@Model.Tickets[i].ClassTypes" asp-items="@Model.ClassTypes">
                        <option>Please select one</option>
                    </select>
                </td>
                <td>
                    <select asp-for="@Model.Tickets[i].Meals" asp-items="@Model.Meals">
                        <option>Please select one</option>
                    </select>
                </td>
                <td>
                    <select asp-for="@Model.Tickets[i].Seats" asp-items="@Model.Seats">
                        <option>Please select one</option>
                    </select>
                </td>
                <td>
                    <select asp-for="@Model.Tickets[i].Seasons" asp-items="@Model.Seasons">
                        <option>Please select one</option>
                    </select>
                </td>
                
            }
        </table>
    </form>
}
else
{
    @Html.Raw("Your shoppingcart is empty at the moment")
}
<a asp-controller="Flight" asp-action="Index"> Continue</a>

@* script om het subtotaal aan te passen wanneer de count omhoog gaat *@
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}